@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Montserrat:wght@300;400;500;600;700&display=swap');

@theme {
  --font-boldonse: "Boldonse", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

/* index.css or global.css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background:  gray;
}
